<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916288090412-6h80jcj0f927qc8mma3ldm2ff1i1pel4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916288090412-6h80jcj0f927qc8mma3ldm2ff1i1pel4</string>
	<key>API_KEY</key>
	<string>AIzaSyD5VLvlmPSkW1GdTUuyDztBlxgj9Dq6pb0</string>
	<key>GCM_SENDER_ID</key>
	<string>916288090412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>random.H-I-Personalized-Medicine</string>
	<key>PROJECT_ID</key>
	<string>hipm-b7b65</string>
	<key>STORAGE_BUCKET</key>
	<string>hipm-b7b65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916288090412:ios:e95d58afb02da8a2bbbc89</string>
</dict>
</plist>